@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; /* blue-500 */
  --color-primary-hover: #2563eb; /* blue-600 */
  --color-secondary: #64748b; /* slate-500 */
  --color-secondary-hover: #475569; /* slate-600 */
  --color-danger: #ef4444; /* red-500 */
  --color-danger-hover: #dc2626; /* red-600 */
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}
